[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/chipsalliance/rocket-chip
[submodule "riscv-tools"]
	path = riscv-tools
	url = https://github.com/riscv-software-src/riscv-tools
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain
